# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

PG_BOSS_SCHEMA=pgboss
PGBOSS_MONITOR_INTERVAL_SECONDS=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

MAX_UPLOAD_MB=
MAX_VIDEO_UPLOAD_MB=

NEXTAUTH_SECRET=
NEXTAUTH_URL=
UPLOAD_INTENT_SECRET=

RESEND_API_KEY=

LOG_LEVEL=info