# Dependencies
node_modules
.pnp
.pnp.*

# Testing
coverage

# Next.js build and cache
.next/
out/

# Turborepo cache (Very important!)
.turbo

# Worker/Package builds
dist/
*.tsbuildinfo

# Misc
.DS_Store
*.pem
*.log
.pnpm-debug.log*

# Environment files
.env
.env.*
apps/web/.env.local
apps/worker/.env
!.env.example

# Vercel
.vercel

# Prisma
/apps/web/src/generated/prisma

# Graphify
graphify-out/cache/
graphify-out/.graphify_python
